* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin: 0;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: flex-start;
}

.game-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    margin-right: 20px;
}

.snake,
.food {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.snake {
    background: green;
    transition: background-color 0.2s ease-in-out;
}

.food {
    background: linear-gradient(0deg, #c70039 0%, #900c3f 100%);
}

.score {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
