body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(98,114,128,1) 0%, rgba(52,63,51,1) 90.1% );
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
