body {
    background-image: radial-gradient(circle 897px at 9% 80.3%, rgba(55, 60, 245, 1) 0%, rgba(234, 161, 15, 0.90) 100.2%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.calculator {
    width: 300px;
    margin: 0 auto;

    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.operator {
    background-color: #ffb74d;
    color: #fff;
}

.operator.calculate {
    background-color: #ffb74d;
    color: #fff;
}

.operator.clear {
    background-color: #fff;
    color: #000;
}

.button.period {
    background-color: #333;
}
