body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(to top, #e0c3fc, #8ec5fc);
}

#container {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #333;
}

#milliseconds {
    font-size: 24px;
    vertical-align: super;
}

#button-container {
    display: flex;
}

button {
    cursor: pointer;
    font-size: 30px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    color: #000000;
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
}
