html, body, div, p, button, input {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto; 
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

button {
    font-size: 40px;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(45deg, #3498db, #8e44ad);
    color: white; 
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(45deg, #8e44ad, #3498db); 
    transform: scale(1.08);
}

input {
    font-size: 24px;
    padding: 0 10px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #3498db;
    border-radius: 5px;
    margin: 5px;
}

.errorMessage {
    color: #e74c3c;
    font-size: 18px;
    margin-top: 10px;
}
